[user]
  name = Benedikt Rötsch
  email = info@benedikt-roetsch.de

[core]
  excludesfile = ~/.gitignore_global

  # Configure Git on OS X to properly handle line endings
  autocrlf = input

  # pretty aggresive compression to keep repos small
  compression = 7

  # tells git to ignore file permission changes
  filemode = false

  # use diff-so-fancy for pagers
  pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -FRSX

[mergetool]
  keepBackup = true

[push]
  # let's you say just `git push origin` to push the current branch
  default = current

[diff]
  context = 10

[alias]
  s = status -s
  st = status
  co = checkout
  br = branch
  ci = commit
  di = diff

  # Logging sugar
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

  # Show all of my configured aliases
  aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
